@import '../../variables.scss';

.userInputs {
  color: $grey;

  & > span {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 10px 0;
  }
}

.resultList {
  margin-top: 20px;

  & > a {
    color: $text-color;
  }
}
