@import '../../variables.scss';

.requestState {
  width: 100%;
}

.requestMessage {
  text-align: center;
  width: 100%;
}

.errorText {
  color: $error-color;
}

.loadingText {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
