@import '../../variables.scss';

.rouletteField {
  color: $text-color;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 1px;
  font-size: 19px;
  padding: 5px;
  box-sizing: border-box;
}

.red {
  background: $red;
}

.black {
  background: $black;
}

.green {
  background: $green;
}

.selected {
  background: $selected;
}
