@import '../../variables.scss';

.roulette {
  position: relative;
}

.lastWonNumber {
  font-size: 120px;
  position: absolute;
  left: 45%;
  top: 45%;
  color: $text-color;
  transform: translate(-50%, -50%);
}
