@import '../../variables.scss';

.resultList {
  padding: 20px;
  color: $text-color;
  height: 40%;

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  & > h2 {
    text-transform: capitalize;
  }
}

.resultState {
  margin-bottom: 20px;
  display: inline-block;
}

.results {
  overflow-y: scroll;
  height: 300px;
}
