@import '../../variables.scss';

.topPanel {
  background: $background-color;
  height: 70px;
  width: 100%;
  padding: 0 $space;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.rightPanel {
  background: $background-color;
  min-height: fit-content;
  padding-bottom: 40px;
  width: $game-panel-width;
  position: absolute;
  right: $space;
  top: $space + $panel-height;

  @media (max-width: 1290px) {
    position: relative;
    margin: $space;
    top: 0;
    right: 0;
    margin: $space auto;
  }

  @media (max-width: $game-panel-width) {
    width: 100%;
  }
}

.rouletteContainer {
  width: 590px;
  position: absolute;
  left: $space;
  top: $space + $panel-height;

  @media (max-width: 1290px) {
    position: relative;
    margin: $space;
    top: 0;
    left: 0;
    margin: $space auto;
  }

  @media (max-width: 590px) {
    width: 100%;
  }
}

.betBoxContainer {
  position: absolute;
  top: $space + $panel-height;
  right: $game-panel-width + 2 * $space;
  width: 120px;

  @media (max-width: 1290px) {
    position: relative;
    margin: $space;
    top: 0;
    right: 0;
    margin: $space auto;
  }
}
