@import '../../variables.scss';

.gameControlSection {
  margin-bottom: 20px;

  & span {
    margin: 20px 0px;
    display: inline-block;
  }

  & ul {
    padding-bottom: 40px;
    border-bottom: 1px solid $grey;
    list-style: none;
    padding-left: 0;
  }
}
