@import '../../variables.scss';

.field {
  min-width: $fieldSize;
  min-height: $fieldSize;
  border: 2px solid $text-color;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.chips {
  font-size: 10px;
  padding-left: 2px;
  display: block;
}

.red {
  background: $red;
}

.black {
  background: $black;
}

.green {
  background: $green;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  cursor: pointer;
}

.checked {
  border: 2px solid $selected;
}

.fullSize {
  width: 100%;
}
