$input-background: #202949;
$placeholder-color: #3e528f;
$text-color: #ffffff;
$error-color: #ff0a0a;
$main-color: #293356;
$hover-color: #7094fb;
$green: #4ae7b4;
$red: #c87ab4;
$black: #1d253e;
$selected: #e3aa0e;
$background-color: #2d385d;
$fieldSize: 40px;
$grey: #cfcfcf;

$space: 40px;
$panel-height: 70px;
$game-panel-width: 400px;
