@import '../../variables.scss';

.betContainer {
  width: 120px;
  height: 550px;
  position: relative;
}

.betBox {
  display: flex;
  background: $background-color;
  color: $text-color;
  flex-direction: column;
}

.leftBetBox {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.rightBetBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid $text-color;
  width: 100%;
  box-sizing: border-box;
}

.middleBetBox {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
}

.bottomBetBox {
  position: absolute;
  left: 0;
  top: 38px;
  width: 483px;
  background: $background-color;
  color: $text-color;
  transform: rotate(90deg);
  transform-origin: 0% 0%;
}

.bottomTopBetBox,
.bottomBottomBetBox {
  display: flex;
  justify-content: space-around;
}
