@import '../../../variables.scss';

.textInput {
  color: $text-color;
  background: $input-background;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border-radius: 2px;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;

  &::placeholder {
    color: $placeholder-color;
  }

  &error {
    border: 1px solid $error-color;
  }
}

.label {
  color: $text-color;
  display: block;
}

.errorText {
  color: $error-color;
  margin-bottom: 10px;
}
