@import '../../../variables.scss';

.button {
  border: 0;
  background: $main-color;
  color: $text-color;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border-radius: 2px;
  width: 100%;

  &:hover {
    background: $hover-color;
  }
}
